* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #001a26;
	background: linear-gradient(to right, hsl(43, 100%, 92%), hsl(0, 0%, 100%));
	font-family: "Montserrat", sans-serif;
}

header {
	.navbar {
		padding-top: 5rem;
		margin: 0 8%;
		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.nav-title {
				img {
					width: 26px;
					height: 32px;
				}
				h1 {
					font-family: "Montserrat Alternates", sans-serif;
					font-size: 18px;
				}
			}
			.nav-links {
				ul {
					display: flex;
					li {
						list-style: none;
						margin: 0 10px;

						a {
							color: #001a26;
							font-size: 16px;
							font-weight: 700;
							text-decoration: none;
							opacity: 50%;
							padding: 0 1rem;
							transition: ease 0.3s;
						}
						a:hover {
							color: hsl(199, 100%, 40%);
						}
					}
				}
			}
			.nav-number {
				h1 {
					font-size: 16px;
					color: #001a26;
				}
			}
			.nav-cta {
				button {
					font-family: "Montserrat", sans-serif;
					font-weight: 500;
					font-size: 16px;
					border: 1px solid #171717;
					border-radius: 0.5rem;
					background-color: inherit;
					padding: 0.5rem 1rem;
					margin: 0 1rem;
					cursor: pointer;
					transition: ease 0.3s;
				}
				button:hover {
					background-color: #171717;
					color: #fff;
				}
				.black-button {
					border: 1px solid #8effe5;
					color: #fff;
					background: linear-gradient(to right, #8effe5, #76d3bd);
					border-radius: 0.5rem;
					transition: ease 0.3s;
				}
				.black-button:hover {
					background: #fff;
					color: #8effe5;
					border: 1px solid #8effe5;
				}
			}
		}
	}
}

main {
	margin-top: 130px;
	.illustration-left {
		left: 0;
	}
	.illustration-right {
		right: 0;
	}
	img {
		top: 240px;
		width: 30%;
		position: absolute;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.title {
			display: flex;
			justify-content: center;
			h1 {
				line-height: 120%;
				text-align: center;
				font-family: "Neucha", cursive;
				font-size: 4.5rem;
				font-weight: 500;
				width: 50%;
				color: #000;
			}
		}
		.description {
			padding-top: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				text-align: center;
				width: 40%;
				font-size: 1.2rem;
				opacity: 50%;
			}
		}
		.buttons-holder {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 3rem;
			div {
				.select {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border: none;
					border-radius: 0.25rem;
					background-color: hsl(0, 0%, 9%);
					color: #fff;
					padding: 1rem 1rem;
					width: 12rem;
					cursor: pointer;
					transition: ease 0.3s;
					h1 {
						font-size: 16px;
					}
				}
				.select:hover {
					background-color: hsl(0, 0%, 29%);
				}
			}
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				button {
					color: #fff;
					border: none;
					border-radius: 0.25rem;
					background-color: #171717;
					padding: 1.13rem;
					margin-left: 1rem;
					cursor: pointer;
					transition: ease 0.3s;
				}
				button:hover {
					background-color: hsl(0, 0%, 29%);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		.navbar {
			padding-top: 1rem;
			div {
				.nav-title {
					margin: 0 auto;
					h1 {
						font-size: 40px;
					}
				}
				.display-none {
					display: none;
				}
			}
		}
	}
	main {
		img {
			top: 100px;
			width: 38%;
		}
		.illustration-right {
			top: 270px;
		}
		.content {
			.title {
				h1 {
					font-size: 2rem;
					z-index: 1;
				}
			}
			.description {
				padding-top: 2rem;
				p {
					z-index: 1;
					font-size: 0.7rem;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	header {
		.navbar {
			padding-top: 1rem;
			margin: 0 3%;
			.nav-number {
				display: none;
			}
			div {
				flex-wrap: wrap;
				gap: 30px 0;
				.nav-cta {
					display: flex;
					width: 100%;
					justify-content: center;
				}
			}
		}
	}
	main {
		img {
		}
		.content {
			.title {
				h1 {
					font-family: "Neucha", cursive;
					font-size: 2.8rem;
					width: 50%;
					z-index: 1;
				}
			}
			.description {
				p {
					font-size: 0.9rem;
				}
			}
		}
	}
}
